In [77]:
import numpy as np
import pandas as pd

import os
lista = []

for dirname, _, filenames in os.walk('archive (11)'):
  for filename in filenames:
    lista.append(os.path.join(dirname, filename))

In [78]:
dfs = [pd.read_csv(item) for item in lista]
df = pd.concat(dfs)

In [79]:
df = df[['Year', 'Script Type', 'Rotten Tomatoes  critics', 'Metacritic  critics', 'Average audience ', 'Worldwide Gross ($million)', 'Budget ($million)', 'Primary Genre']]

In [ ]:
col = df.columns.get_loc('Script Type')

df['Script Type'] = df['Script Type'].fillna('unknown')
for i in range(len(df)):
    value = df.iloc[i, col]

    if 'original screenplay' in value:
            value = 'original'
    elif 'sequel' in value:
        value = 'sequel'
    elif 'true story' in value or 'documentary' in value:
        value = 'real'
    elif 'adaptation' in value:
        value = 'adaptation'
    elif 'remake' in value:
        value = 'remake'
    elif 'prequel' in value:
        value = 'prequel'
    else:
        value = 'unknow'

    df.iloc[i, col] = value

df['Script Type'].unique()

array(['adaptation', 'remake', 'original', 'sequel', 'real', 'prequel',
       'unknow'], dtype=object)

In [89]:
column = 'Rotten Tomatoes  critics'

df = df[df[column] != '-']
df[column].dropna(inplace=True)

col = df.columns.get_loc(column)
df[column] = pd.to_numeric(df[column])

df[column].unique()

array([ 51,  76,  53,  56,  29,  39,  54,  59,  64,  69,  13,  62,  33,
        75,  17,  37,  45,  35,  19,  77,  81,  47,  28,  46,  65,  73,
        85,  25,  61,  82,  48,  42,  91,  50,  27,  96,  44,  36,  49,
        58,  74,  83,  67,  32,  80,  92,  41,  63,  78,  94,  84,  86,
        79,  70,  31,  34,  40,  71,  43,  55,  57,  24,  26,  66,  30,
        72,  52,   9,  60,  68,  15,  20,  88,  38,  23,  21,  95,  22,
        18,  90,  89,  87,  97,  11, 100,  12,  16,  93,  99,  14],
      dtype=int64)

In [93]:
column = 'Metacritic  critics'

df = df[df[column] != '-']
df[column].dropna(inplace=True)

col = df.columns.get_loc(column)
df[column] = pd.to_numeric(df[column])

df[column].unique()

array([ 51,  76,  53,  56,  29,  39,  54,  59,  64,  69,  13,  62,  33,
        75,  17,  37,  45,  35,  19,  77,  81,  47,  28,  46,  65,  73,
        85,  25,  61,  82,  48,  42,  91,  50,  27,  96,  44,  36,  49,
        58,  74,  83,  67,  32,  80,  92,  41,  63,  78,  94,  84,  86,
        79,  70,  31,  34,  40,  71,  43,  55,  57,  24,  26,  66,  30,
        72,  52,   9,  60,  68,  15,  20,  88,  38,  23,  21,  95,  22,
        18,  90,  89,  87,  97,  11, 100,  12,  16,  93,  99,  14],
      dtype=int64)

In [91]:
column = 'Average audience '

df = df[df[column] != '-'].copy()
df[column].dropna(inplace=True)

col = df.columns.get_loc(column)
df[column] = pd.to_numeric(df[column])

df[column].unique()

array([80. , 61. , 78. , 38. , 60. , 81. , 59. , 57. , 69. , 71. , 29. ,
       79. , 24. , 82. , 25. , 50. , 58. , 43. , 49. , 84. , 35. , 45. ,
       70. , 53. , 86. , 75. , 74. , 56. , 76. , 62. , 64. , 48. , 42. ,
       67. , 87. , 72. , 83. , 68. , 66. , 44. , 77. , 89. , 65. , 63. ,
       55. , 93. , 46. , 40. , 51. , 73. , 52. , 39. , 41. , 54. , 88. ,
       30. , 47. , 22. , 85. , 31. , 36. , 91. , 90. , 33. , 27. , 32. ,
       34. , 92. , 37. , 23. ,  7. , 66.5, 90.5, 85.5, 64.5, 77.5, 74.5,
       59.5, 79.5, 55.5, 63.5, 48.5, 69.5, 82.5, 73.5, 58.5, 40.5, 57.5,
       41.5, 72.5, 54.5, 47.5, 62.5, 80.5, 65.5, 67.5, 70.5, 75.5, 32.5,
       56.5, 81.5, 71.5, 33.5, 76.5, 86.5, 15.5, 52.5, 78.5, 46.5, 18.5,
       60.5, 51.5, 43.5, 61.5, 28. , 19. ,  nan])

In [92]:
column = 'Primary Genre'
df[column] = df[column].fillna('unknown')
df[column].value_counts()

Primary Genre
unknown      1680
action         67
drama          49
comedy         42
adventure      24
thriller       20
horror         18
crime          13
biography       8
animation       6
romance         6
musical         3
fantasy         3
western         2
sci-fi          2
mystery         1
Name: count, dtype: int64