In [77]:
import numpy as np
import pandas as pd

import os
lista = []

for dirname, _, filenames in os.walk('archive (11)'):
  for filename in filenames:
    lista.append(os.path.join(dirname, filename))

In [78]:
dfs = [pd.read_csv(item) for item in lista]
df = pd.concat(dfs)

In [79]:
df = df[['Year', 'Script Type', 'Rotten Tomatoes  critics', 'Metacritic  critics', 'Average audience ', 'Worldwide Gross ($million)', 'Budget ($million)', 'Primary Genre']]

In [82]:
col = df.columns.get_loc('Script Type')

df['Script Type'] = df['Script Type'].fillna('unknow')
for i in range(len(df)):
    value = df.iloc[i, col]

    if 'original screenplay' in value:
            value = 'original'
    elif 'sequel' in value:
        value = 'sequel'
    elif 'true story' in value or 'documentary' in value:
        value = 'real'
    elif 'adaptation' in value:
        value = 'adaptation'
    elif 'remake' in value:
        value = 'remake'
    elif 'prequel' in value:
        value = 'prequel'
    else:
        value = 'unknow'

    df.iloc[i, col] = value

df['Script Type'].unique()

array(['adaptation', 'remake', 'original', 'sequel', 'real', 'prequel',
       'unknow'], dtype=object)

In [88]:
column = 'Rotten Tomatoes  critics'

df = df[df[column] != '-']
df[column].dropna(inplace=True)

col = df.columns.get_loc(column)
df[column] = pd.to_numeric(df[column])

df[column].unique()

array([ 60.,  88.,  50.,  54.,  14.,  26.,  80.,  52.,  71.,  69.,  82.,
         1.,  67.,  27.,  93.,   2.,  23.,  35.,  28.,   3.,  92.,   4.,
        15.,  45.,  13.,  43.,  94.,  91.,   8.,  79.,  66.,  90.,  56.,
        36.,  63.,  49.,  31.,  29.,  95.,  39.,   9.,  70.,  21.,  11.,
        97.,  20.,  18.,  47.,  42.,  61.,  87.,  78.,  86.,  41.,  30.,
        19.,  72.,  33.,  57.,  46.,  55.,  89.,  75.,  96.,  64.,  77.,
        73.,  40.,  38.,  83.,  16.,  51.,  25.,  58.,  53.,  62.,   7.,
        34.,  24.,  32.,  48.,   5.,  85.,  65.,  68.,  22.,  37.,   0.,
        81.,  59.,  44.,  98.,  84.,  12.,  74.,  17.,   6.,  99.,  10.,
        76.,  nan, 100.])

In [89]:
column = 'Metacritic  critics'

df = df[df[column] != '-']
df[column].dropna(inplace=True)

col = df.columns.get_loc(column)
df[column] = pd.to_numeric(df[column])

df[column].unique()

array([ 51,  76,  53,  56,  29,  39,  54,  59,  64,  69,  13,  62,  33,
        75,  17,  37,  45,  35,  19,  77,  81,  47,  28,  46,  65,  73,
        85,  25,  61,  82,  48,  42,  91,  50,  27,  96,  44,  36,  49,
        58,  74,  83,  67,  32,  80,  92,  41,  63,  78,  94,  84,  86,
        79,  70,  31,  34,  40,  71,  43,  55,  57,  24,  26,  66,  30,
        72,  52,   9,  60,  68,  15,  20,  88,  38,  23,  21,  95,  22,
        18,  90,  89,  87,  97,  11, 100,  12,  16,  93,  99,  14],
      dtype=int64)